#room {
    font-size: 3vmax;
    color: #55c5e4;
    margin: 0;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#RoomBox {
    background: rgba(255,255,255,0.9);
    position: absolute; top: 69%; left: 50%; transform: translate(-50%, -50%);
    width: 65%;
    height: 50vh;

    box-shadow: 0px 0px 5px 5px #78e2ff;
}

#RoomBox .Room {
  height: 20vh;
  width: 20vw;
  background-color: rgba(112, 120, 214,0.5);

  margin-left: 2vw;

  color: white;

  font-size: 3vmax;

  text-align: center;
}

#RoomBox .Room .RoomName {
  margin-top: 10vh;
}
