body {
    margin:  0 0 0 0;
    overflow-y: hidden;
    background: linear-gradient(60deg, #c2fff9ef,10%, #83ffeeea);
    height: 100vh;
    font-family: 'Nanum Pen Script', serif;
}

#MiddleBox {
    background: rgba(255,255,255,0.9);
    position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);

    width: 35vw;
    height: 30vh;

    box-shadow: 0px 0px 2px 2px #78e2ff;
}

#title {
    font-size: 8vmax;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 100px #66d6f5, 0 0 170px #55c5e4;
    margin: 0;
    margin-top: 20vh;
    text-align: center;
}

input{
  font-family: 'Nanum Pen Script', serif;
}

table {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 18vw;
  margin-top: 10vh;
  border-width: 0;

  width: 10vw;
  height: 18vh;
}

#id_input, #pw_input{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  font-size: 1.5vmax;

  width: 30vw;
  height: 3vmax;
}

#Menu {
    margin-top: 2vh;

    position: absolute; top: 60%; left: 20%;
}

#Menu ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
}

#Menu li {
    display: inline-block;
    text-align: center;

    border-radius: 2vmax;

    padding: 0.5vh 0;
}


#Menu li a {
    text-decoration: none;
    font-size: 2vmax;
    padding:  0.3vh 1.5vw;
    color: #55c5e4;
}
