#MiddleBox {
    background: rgba(255,255,255,0.9);
    position: absolute; top: 69%; left: 50%; transform: translate(-50%, -50%);
    width: 50%;
    height: 50vh;

    box-shadow: 0px 0px 5px 5px #78e2ff;
}

.RankingRow {
  text-align: center;
  margin-top: 3vh;
}

.RankingRow p {
  margin: 0;
}

.RankingName {
  font-size: 3vmax;
  font-weight: bold;
}

.RankingScore {
  font-size: 2vmax;
  color: gray;
}
