body {
    margin:  0 0 0 0;
    overflow-y: hidden;
    background: linear-gradient(60deg, #c2fff9ef,10%, #83ffeeea);
    height: 100vh;
    font-family: 'Nanum Pen Script', serif;
}

#MiddleBox {
    background: rgba(255,255,255,0.9);
    position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);

    width: 35vw;
    height: 60vh;

    box-shadow: 0px 0px 2px 2px #78e2ff;
}

@keyframes titleNeon {
  from {
    text-shadow: 0 0 2px #fff,  0 0 70px #20bcde, 0 0 100px #46cbf0, 0 0 170px #0096be;
  }
  to {
    text-shadow: 0 0 2px #fff,  0 0 70px #20bcde, 0 0 100px #46cbf0;
  }
}

#title {
    font-size: 8vmax;
    color: #fff;

    animation-name: titleNeon;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    margin: 0;
    margin-top: 5vh;
    text-align: center;
}

input{
  font-family: 'Nanum Pen Script', serif;
}

table {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 17.5vw;
  top: 24vh;
  border-width: 0;

  width: 10vw;
  height: 18vh;
}

#id_input, #pw_input1, #pw_input2, #nickname{
  margin-top: 2vh;

  padding-bottom: 0.5vh;
  padding-left: 1vw;

  font-size: 1.5vmax;

  width: 28vw;
  height: 6vh;
}

#Menu {
    margin-top: 2.5vh;
    margin-right: 3vw;
    position: absolute; top: 70%; left: 33%;
}

#Menu ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
}

#Menu li {
    display: inline-block;

    text-align: center;

    border-radius: 2vmax;

    padding: 0.5vh 0;
}


#Menu li a {
    text-decoration: none;
    font-size: 2vmax;
    padding:  0.3vh 1.5vw;
    color: #55c5e4;
}
